{% extends 'index.html' %}
{% block content %}
<div>

<div class="flex content-between">
    <div class="w-1/2">
        <h1>Dashboard</h1>
        <p>Welcome {{request.user}}</p>

    </div>
    <div class="w-1/2">
        <div class="float-right"> 
            <button
                class="bg-green-500 text-white active:bg-green-600 font-bold uppercase text-sm px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1"
                type="button" style="transition: all .15s ease">
                <a href="{% url 'products' %}">Products</a>
            </button>
            <button 
                class="text-indigo-500 background-transparent font-bold uppercase px-8 py-3 outline-none focus:outline-none mr-1 mb-1"
                type="button" style="transition: all .15s ease">
                <a href="{% url 'share' %}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-share-2">
                    <circle cx="18" cy="5" r="3"></circle>
                    <circle cx="6" cy="12" r="3"></circle>
                    <circle cx="18" cy="19" r="3"></circle>
                    <line x1="8.59" y1="13.51" x2="15.42" y2="17.49"></line>
                    <line x1="15.41" y1="6.51" x2="8.59" y2="10.49"></line>
                </svg>
                </a>
                
            </button>
            <button 
                class="bg-red-500 text-white active:bg-red-600 font-bold uppercase text-sm px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1"
                type="button" style="transition: all .15s ease">
                <a href="{% url 'logout' %}">Logout</a>
            </button>


        </div>
    </div>
</div>

    <section class="text-gray-700 body-font">
        <div class="container px-5 py-24 mx-auto">
       
            <div class="flex flex-wrap -m-4 text-center ">
                <div class="p-4 md:w-1/4 sm:w-1/2 w-full bg-gray-200">
                    <div class="border-2 border-gray-200 px-4 py-6 rounded-lg bg-gray-200">
                        
                        <h2 class="title-font font-medium text-3xl text-gray-900">{{request.user.wallet}} INR</h2>
                        <p class="leading-relaxed">Wallet</p>
                    </div>
                </div>
                <div class="p-3 float-right">
                    <div class="md:w-1/2 bg-gray-200 rounded-lg p-8 flex flex-col md:ml-auto w-full mt-10 md:mt-0">
                        <h2 class="text-gray-900 text-lg font-medium title-font mb-5">Add Product</h2>
                        
                        <form method="POST" action="{% url 'dashboard' %}"> {% csrf_token %}
                        
                        <input name="name"
                            class="bg-white rounded border border-gray-400 focus:outline-none focus:border-indigo-500 text-base px-4 py-2 mb-4"
                            placeholder="Name" type="text">
                        <input name="price"
                            class="bg-white rounded border border-gray-400 focus:outline-none focus:border-indigo-500 text-base px-4 py-2 mb-4"
                            placeholder="Price" type="number">
                        <button typr="submit"
                            class="text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">Add</button>
                            </form>
                        </div>
                </div>
                </div>
            </div>
        </div>
    </section>



    

</div>
{% endblock %}

